.poke-img{
    width: 60%;
}

h2 {
    text-align: center;
}

body { 
    background: url("http://eskipaper.com/images/pokemon-backgrounds-8.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }